<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue 源码解读</title>
</head>

<body>
  <div id="app">
    <input v-model="value" v-for="item in arr" :key="item"/>
    <child :text="msg"></child>
  </div>
  <script src="../dist/vue.js"></script>
  <script>
    debugger
    Vue.component('child',{
      template:'<div>{{title}},{{text}}</div>',
      props:{
        text:String
      },
      data(){
        return {
          title:'123'
        }
      }
    })
    new Vue({
      el: '#app',
      data: {
        msg: 'hello vue',
        value:2,
        arr:[1,2,3]
      }
    })

  </script>
</body>

</html>
